/config.cfg
/config.bak
/.cache-anti-plagiarism
/venv/
/.idea/
/.idea/dictionaries/Joshua.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Sliker.iml
/.idea/vcs.xml
